$primary-color: #00a884;
$primary-hover-color: #009874;
$error-color: #ff174a;
$incoming-bg-color: #fff;
$outgoing-background-color: #d9fdd3;
$compose-panel-background-color: #f0f2f5;
$secondary-text-color: #667781;

$secondary-button-color: #e0e2e5;
$secondary-button-hover-color: #d0d2d5;

$shadow-rgba: rgba(10,20,26,.13);
